.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

body {
  background-color: aliceblue;
}

$primary-color: #2f426c;
$secondary-color: #7b89ae;

//input
.input {
  margin: 1rem;
}

// movie-list

.list-container {
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .movie-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    .movies {
      display: flex;
      flex-wrap: wrap;

      div {
        margin-right: 1rem;
        margin-bottom: 1rem;

        img {
          width: 200px;
          height: 300px;
          object-fit: cover;
          cursor: pointer;
          transition: transform 0.2s ease;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          border-radius: 8px;

          &:hover {
            transform: scale(1.1);
            opacity: 85%;
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

// modal

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(206, 188, 184, 0.5);

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);

    button {
      background-color: $secondary-color;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }

    .movie-detail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 1rem;
      padding: .1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow-y: scroll;
      max-height: 25rem;

      .movie-detail-title {
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      .fav-btn,
      .rfav-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: #e50914;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        p {
          margin: 0;
          font-size: 1rem;
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
          margin-left: 0.5rem;
          fill: white;
        }

        &:hover {
          background-color: #bf0812;
        }
      }

      .rfav-btn {
        background-color: #333;

        &:hover {
          background-color: #222;
        }
      }

      img {
        max-width: 100%;
        margin-top: 1rem;
      }

      p {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.5;
      }
    }

    .favorites-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px 0;
      overflow-y: scroll;
      max-height: 25rem;

      img {
        margin: 0.5rem;
        width: 150px;
        height: 200px;
        border-radius: 8px;

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }

    @media (max-width: 768px) {
      .favorites-content {
        img {
          width: 100px;
          height: 150px;
        }
      }
    }
  }
}

// button

button {
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0.4rem;
  margin-bottom: 0.5rem;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
